<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
    <header>
        <nav>
            <div class="head-home">
                <div class="humberg-icon">
                    <i class="fas fa-bars" onclick="toggleSearch(event)" ></i>
                    
                </div>
                <img src="./images/logo.jpg"/>
                <h1>Saloon</h1>
                    <div class="search-container">
                        <input type="text" placeholder="Search...">
                        <i class="fas fa-search search-icon" ></i>
                    </div>
                    <a title="profile" id="profileIcon" onclick="toggleSearch1(event)"><i class="fa fa-user" ></i> </a>
            </div>
            <div class="option-container" id="option-icon">
                <ul style="list-style: none;">
                    <a href="/home"><li><i class="fa fa-home"></i> Home</li></a>
                    <a href="/services"><li><i class="fa-solid fa-cogs"></i> Services</li></a>
                    
                    
                   
                    <a href="/about_us"><li><i class="fa-solid fa-user-group"></i> About us
                    </li></a>
                    <a href="#" onclick="document.getElementById('logout-form').submit();"><li><i class="fa fa-sign-out-alt"></i> Sign out</li></a>
                    <form id="logout-form" style="display: none;" action="/log-out" method="post">
                        
                    </form>
                        
                </ul>
            </div>  
            </nav>
    </header>
    <div class="profile-container" id="profile-container">
        <h1>profile</h1>
        <img src="./images/profile_picture_new.jpg"/>
        <p ><b>username: </b><span id="username"></span></p>
        <p ><b>Name: </b><span id="name"></span></p>
        <p ><b>Email id: </b><span id="email"></span></p>
        <p ><b>PhoneNumber: </b><span id="phone"></span></p>
        <p ><b>Address: </b><span id="address"></span></p>
        <p ><b>Gender: </b><span id="gender"></span></p>
        <p ><b>Date Of Birth: </b><span id="dob"></span></p>
        <button id="edit-profile">edit profile</button>
        <button id="delete-account">Delete Account</button>
    </div>



   
    <div class="service-search-container" id="service-container" style="display: none;" data-appointment-id="">
            
                
        <form id="update-appointment-form"  >
           
            <label for="" style="padding-right: 73px;">Service:</label>
            <select id="update-category" name="category" onchange="updateOptions1()" required>
                <option value="">Select Category</option>
                <option value="hair">Men Hair Cutting</option>
                <option value="beard">Beard Cutting</option>
                <option value="facial">Men Facial</option>
                <option value="massage">Head Massage</option>
                <option value="child">Children Hair Cutting</option>
            </select>
            <br/>
        
            <label for="update-options" style="padding-right: 16%;">Style:</label>
            <select id="update-options" name="style" required>
                <option value="">Select an Option</option>
            </select>
        <br/>
            <label for="appointment-date">Select Date:</label>
            <input type="date" id="update-appointment-date" name="appointment_date" required>
        <br>
            <label for="time-slot" style="padding-right: 30px;">Time Slot:</label>
            <select id="update-time-slot" name="time_slot" required value="">
                <option value="">Select a Time Slot</option>
                <option value="9:00 AM - 10:00 AM" data-start="9">9:00 AM - 10:00 AM</option>
                <option value="10:00 AM - 11:00 AM" data-start="10">10:00 AM - 11:00 AM</option>
                <option value="11:00 AM - 12:00 PM" data-start="11">11:00 AM - 12:00 PM</option>
                <option value="12:00 PM - 1:00 PM" data-start="12">12:00 PM - 1:00 PM</option>
                <option value="2:00 PM - 3:00 PM" data-start="14">2:00 PM - 3:00 PM</option>
                <option value="3:00 PM - 4:00 PM" data-start="15">3:00 PM - 4:00 PM</option>
                <option value="4:00 PM - 5:00 PM" data-start="16">4:00 PM - 5:00 PM</option>
                <option value="5:00 PM - 6:00 PM" data-start="17">5:00 PM - 6:00 PM</option>
                <option value="6:00 PM - 7:00 PM" data-start="18">6:00 PM - 7:00 PM</option>
                <option value="7:00 PM - 8:00 PM" data-start="19">7:00 PM - 8:00 PM</option>
            </select>
           
        
            <button  id="update-save"  type="button" style="background-color: rgb(75, 225, 75); font-size: 0.7em; margin-top: 12%;" onclick="" >Save </button>
            <button id="update-del" type="button" style="background-color: rgb(244, 0, 0);font-size: 0.7em;" >Cancel</button>
        </form>

    </div>






    <table border="1" class="appointment-table">
        <thead>
  <tr>
    <th>Category</th>
    <th>Style</th>
    <th>Appointment Date</th>
    <th>Time Slot</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
</thead>

        <tbody id="appointment-table">
            <!-- Appointments will be inserted here dynamically -->
        </tbody>
    </table>
    <br/><br/>
    <a href="/services" style="margin-top: 25%; margin-left: 45%;margin-bottom: 5%; max-width:full; font-size: 1.5em;border-radius: 13%; padding: 6px 10px; cursor: pointer; background-color: rgb(17, 242, 50) ; border: none;text-decoration: none; color: white;">add</a>


    <footer style="background-color: black; color: white; padding: 1px; margin-top: 5%;">

        <div class="color" >
          <p>© 2025 <span style="font-style: italic;color:rgb(190, 121, 17)">Lakshya Salon</span>. All Rights Reserved.</p>
          
          <p>
              📍 <strong>Location:</strong> near nehru nagar, macherla, 522 426 |  
              📞 <strong>Call Us:</strong> +91 8185951583 |  
              📩 <strong>Email:</strong> <a href="mailto:lakshyasunkara2004@gmail.com"   class="link">lakshyasunkara2004@gmail.com</a>
          
          <p>
              <strong>Follow Us:</strong>  
              <a href="https://www.instagram.com/sunkara_srinivasarao_1/" class="link" ><i class="fab fa-instagram" style="color:rgb(243, 5, 160)"></i> Instagram</a> |  
              <a href="[Facebook Link]" class="link"><i class="fab fa-facebook " style="color:rgb(5, 73, 243)"></i> Facebook</a> |  
              <a href="https://x.com/sunkarassnaidu" class="link"><i class="fab fa-twitter " style="color: rgb(251, 251, 251);"></i> X</a>
          </p>
          
          <p>
              <a href="privacy-policy.html" class="link">Privacy Policy</a> |  
              <a href="terms-conditions.html" class="link">Terms & Conditions</a>
          </p>
          </p>
  
        </footer>
    <script src="Main.js"></script>
</body>
</html>
