<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="head" style="padding-bottom: 5px;margin-bottom: 0;">
                <img src="./images/logo.jpg"/>
                <h1>Saloon</h1>
                
            </div>
            <hr style="margin-top:0;">
        </nav>
    </header>
    <h1 style="text-align: center; font-size: 4em; font-weight: bold;" >Profile</h1>
    
    <form action="user-profile" method="post" class="user_details">
        
        
        <b style="margin-right: 10.5%;">Name:</b>  <input type="text" id="name" name="name"><span style="color: rgb(252, 56, 56);"> *</span><br><br>
        <b style="margin-right: 10%;">Email: </b><input type="email" id="email" name="email"><span style="color: rgb(252, 56, 56);"> *</span><br><br>
        <b style="margin-right:9.5%;">Phone:</b>  <input type="tel" id="phone" name="phone"><br><br>
        <b style="margin-right: 4%;">Address:</b> <input type="text" id="address" name="address"><br><br>
        <b style="margin-right: 8%;">gender:</b> 
        <input type="radio" id="male" name="gender" value="male" style="font-size: 2em;"><span>male</span> 
        <input type="radio" id="female" name="gender" value="female"><span>female</span> <br><br>
        <b style="margin-right: 14%;">DOB:</b> <input type="date" id="date" name="dob"><br><br>
        <button type="submit">save</button>
        
          
    </form>

    <p style="color: red; font-weight: bold; font-size: 1.5em; text-align: center; margin-bottom: 6%;">
        Note: Providing your profile details is required to proceed.
      </p>
    <footer style="background-color: black; color: white; padding: 1px; margin: 0%;">

        <div class="color" >
          <p>© 2025 <span style="font-style: italic;color:rgb(190, 121, 17)">Lakshya Salon</span>. All Rights Reserved.</p>
          
          <p>
              📍 <strong>Location:</strong> near nehru nagar, macherla, 522 426 |  
              📞 <strong>Call Us:</strong> +91 8185951583 |  
              📩 <strong>Email:</strong> <a href="mailto:lakshyasunkara2004@gmail.com"   class="link">lakshyasunkara2004@gmail.com</a>
          
          <p>
              <strong>Follow Us:</strong>  
              <a href="https://www.instagram.com/sunkara_srinivasarao_1/" class="link" ><i class="fab fa-instagram" style="color:rgb(243, 5, 160)"></i> Instagram</a> |  
              <a href="[Facebook Link]" class="link"><i class="fab fa-facebook " style="color:rgb(5, 73, 243)"></i> Facebook</a> |  
              <a href="https://x.com/sunkarassnaidu" class="link"><i class="fab fa-twitter " style="color: rgb(251, 251, 251);"></i> X</a>
          </p>
          
          <p>
              <a href="privacy-policy.html" class="link">Privacy Policy</a> |  
              <a href="terms-conditions.html" class="link">Terms & Conditions</a>
          </p>
          </p>
  
        </footer>
        <script src="main.js"></script>
</body>
</html>